/*** App Basic Themes Starts **/
.app{
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: white;
  }
/*** App Basic Themes Ends **/

/*** Header Layout Changes starts **/
.header{
    position: sticky;
    top: 0;
    background-color: black;
    width: 100%;
}

.header h1{
    text-align: center;
}
/*** Header Layout Changes Ends **/


/***Top Nav Bar changes starts **/
.top-nav-bar{
    width: 100%;
    /* background: lightgray; */
}

.top-nav-bar ul li{
    list-style-type: none;
    display: inline-block;
    padding: 15px;
}

.top-nav-bar ul li:hover{
    background: grey;
}

.top-nav-bar ul li .top-nav-bar-links{
    text-decoration: none;
    color: #999999;
    font-weight: 600;
}

.top-nav-bar ul li:hover .top-nav-bar-links{
 color: white;

}

.top-nav-dropdown{
    position: absolute;
    box-shadow: 0 0 4px 2px(0,0,0.05);
    border: 1px solid #d0d0d0;
    background: white;
    border-radius: 4px;
}

.top-nav-dropdown .top-nav-dropdown-links{
    display: block;
    padding: 10px 20px;
    color: grey !important;
    text-decoration: none;
}

.top-nav-dropdown .top-nav-dropdown-links:hover{
    background: lightgray;
    color: white  !important;
}

.top-nav-bar ul li:hover .top-nav-dropdown{
    display: block !important;
}
/***Top Nav Bar changes Ends **/

.flex-body{
display: flex;
/* padding-right: 100px; */
}

.flex-left-content{
flex: 40%;
}

.flex-right-content{
flex: 40%;
position: relative;
}

@media(max-width:768px){
.flex-body{
    flex-wrap: wrap;
    padding-right: 0px;
}
.flex-left-content,
.flex-right-content{
    flex:100%;
}
}

.copy-icon{
position: absolute;
top: 18px;
right: 0px;
border: 1px solid white;
background-color: white;
}
